.profile__description{
    color: white;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 7px;
}

@media (max-width: 425px){
    .profile__description{
        font-size: 14px;
        line-height: 17px;
        margin-top: 14px;
    }
}